body {
    margin: 0;
    font-family: 'TT Lakes';
}

.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
}

.burger-menu-container {
    margin-left: 16px;
}

.check-box {
    position: absolute;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    background-image: url('../images/burger.svg');
    background-repeat: no-repeat;
    margin: 0;
    width: 40px;
    height: 40px;
}

.burger-menu-label {
    display: block;
    margin: 0;
    width: 40px;
    height: 40px;
}

.header__burger-menu-checkbox:checked + .check-box {
    background-color: #FF3E79;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    background-image: url('../images/burger-off.svg');
}

.header__logo-img {
    width: 97px;
    height: auto;
}

.devider {
    background-image: url('../images/divider.svg');
    width: 2px;
    height: 32px;
}

.header__navigation-button {
    border: none;
    background-color: white;
    width: 40px;
    height: 40px;
}

.header__button-repair {
    background-color: #FF3E79;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    background-image: url('../images/repair.svg');
}

.button-checkstatus-container {
    margin-right: 16px;
}

.header__button-checkstatus {
    background-color: #FF3E79;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
    background-image: url('../images/checkstatus.svg');
}

.main-page {
    background-color: #F8F8F8;
    margin: 0;
    padding-top: 24px;
}

.main-page__heading {
    font-family: 'TT Lakes';
    font-weight: bold;
    font-size: 28px;
    color: #1B1C21;
    padding-left: 16px;
    background-image: url('../images/highlight.svg');
    background-repeat: no-repeat;
    margin: 0;
    margin-bottom: 24px;
}

.menu-navigation {
    margin: 0 0 24px 16px;
}

.menu {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-grow: 1;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.menu__item {
    white-space: nowrap;
    list-style-type: none;
    color: #7E7E82;
    font-size: 16px;
    padding: 8px 9px 8px 16px;
}

.menu__item-selected {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;

}

.main-page__text-container {
    margin-left: 16px;
    margin-right: 16px;
}

.main-page__paragraph {
    font-weight: 300;
    font-size: 14px;
}

.button-more {
    font-family: 'TT Lakes';
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    border: none;
    background-color: #F8F8F8;
    margin-bottom: 16px;
    padding: 0;
}

.button-more::before {
    content: url('../images/expand.svg');
    margin-right: 8px;
}

.adaptive--768 {
    display: none;
}

.adaptive--1120 {
    display: none;
}

@media (min-width: 768px) {
    .adaptive--768 {
        display: block;
    }

    .header__navigation {
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flex-container-768 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 180px;
    }

    .burger-menu-container {
        margin-right: 20px;
        margin-left: 24px;
    }

    .devider {
        margin-right: 20px;
    }

    .flex-container-768--rose-buttons > .button-navigation-item-container {
        margin-right: 16px;
    }

    .button-navigation-item-container:last-child {
        margin-right: 24px;
    }

    .button-profile-container {
        margin-right: 20px;
    }

    .header__button-call {
        background-color: #FF3E79;
        background-repeat: no-repeat;
        border-radius: 50%;
        background-position: center;
        background-image: url('../images/call.svg');
    }

    .header__button-chat {
        background-color: #FF3E79;
        background-repeat: no-repeat;
        border-radius: 50%;
        background-position: center;
        background-image: url('../images/chat.svg');
    }

    .header__button-profile {
        background-color: #FF3E79;
        background-repeat: no-repeat;
        border-radius: 50%;
        background-position: center;
        background-image: url('../images/profile.svg');
    }

    .menu-navigation {
        margin: 0 24px 32px 24px;
    }

    .menu {
        margin: 0;
    }

    .main-page__flex-text-image-container {
        display: flex;
        justify-content: space-between;
    }

    .main-page__text-container {
        margin-left: 24px;
    }

    .main-page__paragraph {
        margin-left: 0;
        margin-top: 0;
    }

    .button-more::before {
        content: url('../images/expand.svg');
        margin-right: 8px;
    }

    .main-page__image-container {
        margin-right: 24px;
    }

    .main-page__image-logo {
        width: 360px;
        height: auto;
        border: 1px solid #F8F8F8;
        border-radius: 7px;
    }

    .phone--adaptive {
        display: none;
    }

    .adaptive--1120 {
        display: none;
    }
}

@media (min-width: 1120px) {
    body {
        background-color: #F8F8F8;
    }

    .adaptive--1120 {
        display: block;
    }

    .main-page__heading--1120 {
        font-family: 'TT Lakes';
        font-weight: bold;
        font-size: 28px;
        color: #1B1C21;
        background-image: url('../images/highlight-2.svg');
        background-repeat: no-repeat;
        padding-left: 32px;
        margin: 42px 0 8px 0;
    }

    .header__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    .flex-container-1120 {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-top: 42px;
    }

    .button-text {
        padding-right: 8px;
    }

    .button-navigation-item-container {
        margin-right: 32px;
    }

    .button-navigation-item-container:last-child {
        margin-right: 32px;
    }

    .menu-navigation {
        margin: 0 25px 0 32px ;
    }

    .menu {
        flex-wrap: wrap;
    }

    .menu__item {
        margin-bottom: 7px;
    }

    .main-page__text-container {
        margin-left: 34px;
    }

    .main-page__paragraph {
        padding-top: 8px;
    }

    .button-more::before {
        content: url('../images/expand.svg');
        margin-right: 8px;
    }

    .main-page__image-logo {
        width: 532px;
        height: auto;
        border: 1px solid #F8F8F8;
        border-radius: 7px;
    }

    .main-page__heading {
        display: none;
    }

    .phone--adaptive {
        display: none;
    }

    .adaptive--768 {
        display: none;
    }
}